
#cartPage {
  padding-top: var(--height-nav);
  min-height: 900px;
  display: flex;
  flex-direction: column;
}

#cartPage .banner {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartPage .banner__header {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

#cartPage .banner__img-box {
  position: absolute;
  top: 0;left: 0;right: 0;
  height: 100%;
  z-index: -1;  
}

#cartPage .banner__img-box::before {
  content: "";
  position: absolute;
  top: 0;left: 0;right: 0;
  height: 100%;
  background-color: var(--filter-black-5);
}

#cartPage .banner__img-box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#cartPage .cartList__box { 
  margin: 50px 174px 30px 174px;
}

#cartPage .btn {
  cursor: pointer;

  display: inline-block;
  border-radius: .5rem;

  font-size: 2rem;
  color:var(--text-color);
  background-color: var(--primary-color);
}

/* EMPTY */

#cartPage .cartList__Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 150px - var(--height-nav));
}

#cartPage .cartList__Empty .empty__logo{ 
font-size: 10rem;
text-shadow: 0 0 55px #FF0000;
color: #fff;

}

#cartPage .cartList__Empty h2 {
font-size: 3rem;
letter-spacing: 5px;
margin-bottom: 10px;
text-align: center;
color: #f15f50;
}

#cartPage .cartList__Empty p {
font-size: 1.6rem;
color: #999;
text-align: center;
}

#cartPage .cartList__Empty button {
padding: 10px 20px;
margin-top: 30px;
border-radius: 10px;
font-size: 16px;
color: #fff;
background-color: var(--primary-color);
transition: all 0.3s ease;
}

#cartPage .cartList__Empty button:hover {
background-color: #f15f50;
letter-spacing: 2px;
}


/* KHI CART CÓ SẢN PHẨM */

#cartPage .cartPage__product-header {
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding-bottom: 10px;
 border-bottom: 1px solid #ccc;
 font-size: 1.6rem;
 font-weight: bold;
}

#cartPage .cartPage__product {
padding: 25px 0;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid #ccc;
}

.cartPage__product-imgBox {
  width: 122px;
  height: 178px;
  flex-shrink: 0;
}

.cartPage__product-img {
width: 100%;
height: 100%;
object-fit: cover;
}

.cartPage__product-item {
display: flex;
align-items: center;
}

.cartPage__product-item,
.cartPage__product-title {
  width: 40%;
}

.cartPage__product-item-infor {
margin-left: 15px;
}

.cartPage__product-name {
  font-size: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

#cartPage .modal__cart-delete-icon {
  margin-top: 10px;
}

.cartPage__product-total-cost {
  color: #FF0000;
}

.cartPage__product-item-price span{
  padding-right: 2px;
}

.cartPage__product-price,
.cartPage__product-item-price {
  width: 16%;
  font-size: 1.6rem;
  text-align: center;
}

.cartPage__product-quantity,
.cartPage__item-input {
  width: 25%;
  text-align: center;
}

#cartPage .modal__cart-item-input {
  margin: 0 auto;
}

.cartPage__product-total,
.cartPage__product-total {
font-size: 1.6rem;
width: 16%;
text-align: right;
}

.cartPage-footer {
  margin: 0 174px 30px 174px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartPage__Subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}

.cartPage__Subtotal-text {
  padding: 0 20px 0 0;
}

.cartPage__Subtotal-number {
  padding: 0 0 0 20px;
  color: #FF0000;
}

.cartPage__Checkout {
  background: var(--primary-color);
  width: 280px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 15px 0;
  cursor: pointer;
}

.cartPage__Checkout:hover {
  background-color: var(--red);
  transition: all 0.5s;
}

.cartPage__Checkout-text {
  font-size: 2.0rem;
  color: white;
}




/* TABLET */
@media(min-width: 739px) and (max-width: 1024px){
  .cartPage-footer,
  #cartPage .cartList__box {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* MOBILE */
@media(max-width: 739px) {  
  #cartPage .cartPage__product-header {
    display: none;
  } 

  #cartPage .cartList__box {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
  }

  #cartPage .cartPage__product {
    margin-top: 40px;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 0 140px;
    position: relative;
    min-height: 136px;
  }

  .cartPage__product-item {
    width: 100%;
  }

  .cartPage__product-imgBox {
    position: absolute;
    left: 5px;
    top: 0;
  }

  #cartPage .modal__cart-delete-icon {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  #cartPage .modal__cart-delete-icon i {
    font-size: 1.8rem;
  }

  .cartPage__product-item-infor {
    max-width: auto;
    text-align: left;
    margin-left: 0;
  }

  .cartPage__product-item-infor h3 {
    font-size: 1.8rem;
  }

  .cartPage__product-item-price {
    width: 100%;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px dashed #ccc;
    font-size: 1.8rem;
  }

  .cartPage__item-input {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border-top: 1px dashed #ccc;
    width: 100%;
    text-align: left;
  }

  #cartPage .modal__cart-item-input {
    margin: 0;
  }

  .cartPage__product-total {
    padding-top: 15px;
    padding-bottom: 20px;
    border-top: 1px dashed #ccc;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
  }

  .cartPage-footer { 
    margin: 20px 10px 30px 10px;
    align-items: center;
  }

  .cartPage__Checkout {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
  }

  .cartPage__Subtotal-text {
    font-size: 2.3rem;
  }

  .cartPage__Subtotal-number {
    font-size: 2.3rem;
  }

  .cartPage__Checkout-text {
    font-size: 1.8rem;
  }
}

/* Điện thoại GALAXY FOLD :))) */
@media(max-width: 280px) { 
  .cartPage__item-input .modal__cart-item-input {
      width: 111px;
  }

  .cartPage__item-input .modal__cart-item-input input[type="number"]  {
    width: 38px;
  }

   .cartPage__item-input .cart__item-decrement {
      padding: 0 8px;
  } 

  .cartPage__item-input .cart__item-increment {
      padding: 0 8px;
  }

  .cartPage__Subtotal-text {
    padding: 0 10px 0 10px;
  }

  .cartPage__Subtotal-number {
    padding: 0 10px 0 10px;
  }
}