.navigation {
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  height: var(--height-nav);

  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
}

.navigation-container .menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 35px;
  font-weight: 800;

  color: var(--text-color);
}

.navigation-container .logo img {
  width: var(--height-nav);
  height: var(--height-nav);
  padding: 0.5rem;
}

.navigation-container .navbar > a {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;

  font-size: 20px;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.navigation-container .icons > div {
  display: inline-block;
}

.navigation-container .icons a,
.navigation-container .icons i {
  cursor: pointer;
  overflow: hidden;

  height: 45px;
  width: 45px;
  margin-left: 30px;
  border-radius: 50%;

  line-height: 45px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;

  color: #fff;
  transition: all 0.3s ease;
}

.navigation-container .navbar > a.active,
.navigation-container .navbar > a:hover {
  color: var(--text-black);
  background-color: var(--primary-bgc);
  /* backdrop-filter: blur(25px); */
}

.navigation-container .icon {
  position: relative;
}

.navigation-container .icon::before {
  content: attr(data-amount);
  color: #fff;
  text-align: center;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: -5px;
  background-color: var(--red);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  width: 18px;
  height: 18px;
  z-index: 100;
}

.navigation-container .icons {
  position: relative;
}

.navigation-container .icons .navbar__inputSearch {
  position: absolute;
  top: -100%;
  right: calc(100% - 50px);
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  transition: all 0.3s ease;
}

#search-icon .fa-times {
  font-size: 20px;
}
.navigation-container .icons .navbar__inputSearch.active {
  top: calc(100% + 15px);
}

.navigation-container .icons .navbar__inputSearch i {
  font-size: 16px;
  width: 15%;
  margin-left: 0;
}

.icons .navbar__inputSearch input {
  height: 30px;
  width: 85%;
  padding: 10px;
  font-size: 14px;
}

.navigation-container .user-info {
  display: inline;
}

.user-info {
  position: relative;
}
.user-info::after {
  content: '';
  width: 200px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: -25px;
}
.user-info > .dropdown {
  display: none;
  cursor: pointer;
  background: var(--primary-color);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.dropdown-item {
  padding: 10px 0px;
  font-size: 1.5rem;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.dropdown-item:hover {
  background-color: var(--red);
  cursor: pointer;
}
.dropdown-item:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-item a {
  color: white;
  width: 100% !important;
  font-size: 15px !important;
  margin-left: 0 !important;
}
.showPassword {
  display: block !important;
  color: white;
  font-size: 30px !important;
}
.user-info:hover > .dropdown {
  display: flex;
  position: absolute;
  bottom: -155px;
  flex-direction: column;
  border: 1px solid #b1b1b194;
  border-radius: 10px;
  right: 0;
  width: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.dropdown:hover {
  display: flex;
}

.navigation-container .user_menu {
  display: inline-block;
  position: relative;
  cursor: pointer;
  display: inline-block;

  height: 45px;
  width: 45px;
  margin-left: 0.5rem;
}

/* .navigation-container .user_menu.hidden {
  display: none;
} */

/* #user-icon.hidden {
  display: none;
} */

.navigation-container .user_menu:hover .menu {
  display: block;
}

.navigation-container .profile {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.navigation-container .profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navigation-container .menu {
  display: none;
  position: absolute;
  top: 60px;
  right: -10px;
  width: 200px;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  animation: fader 0.2s ease;
}

.navigation-container .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 23px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.navigation-container .menu::after {
  content: '';
  position: absolute;
  top: -30px;
  right: 0px;
  width: 8rem;
  height: 8rem;
  background-color: transparent;
  transform: rotate(45deg);
}

.navigation-container .menu h2 {
  cursor: text;
  font-size: 18px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 6px;
}

.navigation-container .menu ul li {
  font-size: 20px;
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--black);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s ease;
}

.navigation-container .menu ul li:hover,
.navigation-container .menu ul li:hover a,
.navigation-container .menu ul li:hover p {
  color: var(--primary-color);
  transform: translateX(5px);
}

.navigation-container .menu ul li i {
  width: 20px;
  margin-right: 10px;
}

.navigation-container .menu__item a,
.navigation-container .menu__item p {
  width: 100%;
  text-align: start;
  color: inherit;
}

/* ================================================== */
.fancy-burger {
  position: relative;
  width: var(--button-width);
  height: var(--button-height);
  margin-right: 20px;
  border: 0;
  background: transparent;
  outline: none;
  cursor: pointer;
  display: none;
  animation: fader 0.5s ease;
}
.rectangle {
  position: absolute;
  height: var(--rectangle-height);
  background: var(--text-color);
  border-radius: var(--rectangle-radius);
  transition: transform var(--transition);
}
.rectangle--small {
  width: calc(var(--button-width) / 2);
}
.rectangle--top {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.rectangle--top.open {
  transform: translateX(var(--translate)) rotate(45deg);
}
.rectangle--middle {
  top: 50%;
  left: 0;
  width: var(--button-width);
  transform: translatey(-50%);
}
.rectangle--middle.open {
  transform: translatey(-50%) rotate(-45deg);
}
.rectangle--bottom {
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}
.rectangle--bottom.open {
  transform: translateX(calc(-1 * var(--translate))) rotate(45deg);
}

/* NAVBAR MOBILE */
.navigation-mobile {
  position: fixed;
  bottom: -100%;
  width: 100%;
  z-index: 10000;
  height: 60px;
  line-height: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--primary-color);
  border-top: 1px solid var(--primary-color);

  transition: all 0.3s ease;
}

.navigation-mobile .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  cursor: pointer;
  height: 100%;
  padding-bottom: 13px;

  position: relative;
}

.navigation-mobile .icon.noti::before {
  content: attr(data-amount);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 11px;
  position: absolute;
  top: 0;
  right: -5px;
  background-color: var(--red);
  border: 1px solid #fff;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  z-index: 100;
}

.navigation-mobile .icon p {
  color: #fff;
  font-size: 12px;
  margin-top: 10px;
}

#store-select {
  width: 250px;
  height: 80%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #fff;
}

#storeMobi-select {
  width: 200px;
  height: 60%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #fff;
}
body {
  position: relative;
}
body.active {
  overflow: hidden;
  height: 100vh;
}
.__modal__overlay.active {
  position: fixed;
  height: 100vw;
  width: 100vw;
  z-index: 999999;
  background: rgb(0 0 0 / 42%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.__modal {
  display: none;
}
#modal__information.active {
  width: 500px;
  height: 550px;
  z-index: 999999;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  backdrop-filter: blur(6px) saturate(200%);
  -webkit-backdrop-filter: blur(6px) saturate(200%);
  background-color: rgba(95, 80, 241, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  animation: modalSlideBottom 1s forwards;
}

.modal__header h1 {
  text-transform: uppercase;
  font-size: 4rem;
  text-align: left;
  margin-left: 20px;
}
.btn__input {
  margin-left: 20px;
  /* margin-right: 20px; */
  padding: 1rem;
  border: 1.5px solid;
  border-radius: 10px;
  font-size: 1.5rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.5s;
}
.btn__input a {
  color: white;
  transition: all 0.5s;
}
.btn__input:hover {
  background-color: white;
  border: 1.5px solid white;
}
.btn__input:hover a {
  color: var(--primary-color);
}
.btn-active-sms.is-actived {
  cursor: not-allowed;
  background-color: #49ec49;
  color: white;
  border: none;
}
.btn-send-sms {
  text-align: center;
}
.btn-send-sms.disabled {
  color: white !important;
  cursor: not-allowed !important;
  background-color: transparent !important;
  max-width: 50px;
  width: 50px;
  min-width: 50px;
}
.btn-send-sms.disabled:hover a {
  color: white !important;
  cursor: not-allowed !important;
  background-color: transparent !important;
}
.status__active {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  color: #5de35d;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  align-items: center;
  -webkit-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
.status__active i.ion-ios-checkmark {
  margin-right: 10px;
  font-size: 25px;
  text-align: center;
  height: 35px;
}
.__modal__body {
  z-index: 99999999999999999999;
  padding: 0px 50px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.__modal__body {
  z-index: 99999999999999999999;
  padding: 0px 50px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  width: 300px;
}

.form-group .label-input {
  font-size: 1.4rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.form-group .form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.25);
  font-size: 1.5rem;
  color: white !important;
}

.form-input.input-disabled {
  cursor: not-allowed;
}
.form-input.is-invalid {
  border: 1px solid #fa4d53;
}

.form-input.valid {
  border-color: #49ec49;
}

.validate-message {
  visibility: hidden;
  font-size: 1.3rem;
  color: #fa4d53;
}
.validate-message.validate-error {
  visibility: visible;
}

.group-input {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.group-input .form-input {
  width: 100%;
  transition: all 0.2s;
}
.form-input.status-valid ~ i {
  position: absolute;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  right: 20px;
  text-align: center;
  cursor: pointer;
  display: none;
}
.form-input.is-invalid {
  box-shadow: 0 0 2em #fa4d53b9;
  transition: all 0.5s;
  animation: shake 0.2s ease-in-out 0s 2;
}

.form-input.valid {
  box-shadow: 0 0 2em #49ec49a2;
  transition: all 0.5s;
}
.form-input.is-invalid ~ i {
  color: #fa4d53;
  display: block;
}

.form-input.valid ~ i {
  color: #49ec49;
  display: block;
}

.form-input.status-valid {
  padding-right: 60px;
  padding-left: 10px;
}

input::placeholder {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.548);
}

.btn-close-modal {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  transform: translateY(-50%);
  color: var(--primary-color);
  transition: all 0.3s;
}
.btn-close-modal:hover {
  color: var(--red);
}
.modal__header {
  position: relative;
  border-bottom: 1px solid white;
}
.modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.btn__modal {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: all 0.5s;
}
.btn-save-changes {
  border-color: var(--primary-color);
}
.btn-save-changes:hover {
  /* background-color: var(--primary-color);*/
  background-color: rgba(95, 80, 241, 0.5);
}
.btn-cancel {
  border-color: var(--red);
}
.btn-cancel:hover {
  background-color: var(--red);
  background-color: rgba(247, 0, 0, 0.25);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 1rem;
  }
  75% {
    margin-left: -1rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1023px) {
  .navigation .navbar {
    opacity: 0;
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    padding: 10px 5px 0;
    border-bottom-right-radius: 50px;
    box-shadow: var(--box-shadow);
    background-color: var(--primary-color);
    z-index: -1000;
    transition: 0.3s ease;
  }

  .navigation-container .navbar > a {
    border-bottom-right-radius: 50px;
  }

  .navigation .navbar.open {
    top: 100%;
    opacity: 1;
    z-index: -1;
  }

  .navigation .navbar a,
  .navigation .navbar.open a {
    display: block;
    margin-bottom: 1rem;
  }

  .fancy-burger {
    display: inline-block;
  }
}

@media (max-width: 600px) {
  .navigation #search-icon {
    display: none;
  }
  .navigation #heart-icon {
    display: none;
  }
  .navigation #cart-icon {
    display: none;
  }

  #store-select {
    display: none;
  }

  .footer {
    padding-bottom: 55px;
  }
}

/* NAVBAR MOBILE */
@media (max-width: 600px) {
  .navigation-mobile {
    bottom: 0px;
    margin-bottom: -5px;
  }
  .navigation-mobile .icon > i {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;

    height: 35px;
    width: 35px;
    margin-left: 0.5rem;
    border-radius: 50%;
    border-bottom: 1px solid #fff;

    line-height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;

    color: #fff;
    transition: transform 0.3s ease;
  }
}
