
.container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
body {
  position: relative;
  width: 100%;
  background-image:  url("/public/images/bg_login.jpg");
}
.blobs {
  position: fixed;
  width: 100%;
  height: 100%;
}
#form-login {
  padding: 40px 0px;
  backdrop-filter: blur(5px);
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 3rem;
}

.title {
  font-size: 6rem;
  font-weight: 700;
  color: white;
}
.social-group {
  display: flex;
  margin-bottom: 5rem;
}
.social-group .login-social {
  font-size: 1.5rem;
  display: flex;
  margin: auto 0;
  flex-direction: row;
  border: 1px solid #6050f1a1;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.login-social:first-child {
  margin-right: 5rem;
}

.logo-social {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

.form-group .label-input{
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
  color: white;
}
.form-group .form-input {
  border: 1.5px solid #6050f1a1;
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  font-size: 1.5rem;
}
#text-or {
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 3rem 0;
}

#text-or::before {
  content: '';
  border: 1px solid white;
  height: 2px;
  width: 100px;
  margin-right: 30px;
}
.col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  position: relative;
  height: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

}
.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.3rem ;
  color: white;
}
.checkbox-text {
  position: absolute;
  left: 3rem;
  font-size: 1.3rem;
  user-select: none;
  color: white;
}
.form-group input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: 9999999999999999999;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top: 0;
  left: 0;
}
.checkmark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FAFBFF;
  border: 1px solid #6050f1a1;
  border-radius: 5px;
  top: 0;
  left: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkmark i {
  display: none;
  color: white;
}

.checkbox:hover input ~ .checkmark {
  background-color: rgba(128, 128, 128, 0.267) ;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #5f50f1;
}
.checkbox input:checked ~ .checkmark i {
  display: flex;
}

.btn-login {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #FA4D53;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.btn-login i {
  font-size: 2rem;
}
#new-user {
  font-size: 1.3rem;
  color: white;
}
#redirect-signup {
  color:#5f50f1;
  text-decoration: none;
}
