.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
  color: #6050f1a1;
}

#new-user {
  font-size: 1.3rem;
  color: #6050f1a1;
}
#redirect-signup {
  color: #fa4d53;
  text-decoration: none;
}
